
params {

    threads = 6
    outdir = "output"

    // pySCENIC container location
    pyscenic_tag = "0.9.15"
    pyscenic_container = 'aertslab/pySCENIC:'+params.pyscenic_tag

}

profiles {

    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        params.pyscenic_container = params.pyscenic_container.toLowerCase()
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        // redirect to singularity hub:
        params.pyscenic_container = 'shub://'+params.pyscenic_container
    }

}
