
params {
    loom_input = '' // unfiltered loom input
    loom_filtered = 'filtered.loom'
    loom_output = 'pyscenic_integrated-output.loom'
    // loom_SCpreprocessed = 'filtered-scanpy.loom' 
    thr_min_genes = 200
    thr_min_cells = 3
    thr_n_genes = 5000
    thr_pct_mito = 0.25
    outdir = "output"
    threads = 6

    // SCENIC parameters
    // expr = "expr_mat.tsv"
    TFs = "allTFs_hg38.txt"
    motifs = "resources/motifs-v9-nr.hgnc-m0.001-o0.0.tbl"
    db = "resources/hg19*mc9nr.feather"
    pyscenic_output = "pyscenic_output.loom"
    grn = "grnboost2"
    // parameters for reading loom files:
    cell_id_attribute = "CellID"
    gene_attribute = "Gene"

    // pySCENIC container location
    pyscenic_container = 'aertslab/pyscenic:0.9.19-dev'

}

profiles {

    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }

}
