
params {
    loom_input = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/expr_mat_tiny.loom'
    TFs = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/test_TFs_tiny.txt'

    motifs = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/motifs.tbl'
    db = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/genome-ranking.feather'
    seed = 777
    thr_min_genes = 1
    thr_min_cells = 1
    thr_n_genes = 5000
    thr_pct_mito = 0.25
}

